<div class="pop-up-container">
  <ng2-popup class="animated fadeInDown _delay4ms" #popup></ng2-popup>
</div>
<div class="forum-wrapper">
  <!-- Latest posts -->
  <div class="col-md-8 col-sm-8 col-xs-12 animated fadeIn _delay5ms" *ngIf="!showArchive"> 
    <div *ngFor="let post of forums; let i = index;" class="forum-main-section-wrapper">
      <div class="forum-header-wrapper">
        <div class="forum-header-owner col-md-3 col-xs-3">
          <h3 class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms">{{ post.owner }}</h3>
        </div>
        <div class="forum-header-title col-md-6 col-xs-12">
          <p class="animated-forum-element animated fadeInDown _delay{{ i + 1 }}ms">{{ post.title }}</p>
        </div>
        <div class="forum-header-post-time col-md-2">
          <p class="animated-forum-element animated fadeInRight _delay{{ i + 1 }}ms">{{ post.date }}</p>
        </div>
      </div>
      <div class="forum-content _widget-scrollbar _{{ post.forumPostId }}">
        <pre class="message animated fadeIn _delay{{ i + 1 }}ms">{{ post.message }}</pre>
      </div>
      <div class="forum-response-section-header">
        <div (click)="_readComments(post.forumPostId)" class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms"><i class="far fa-comment-alt forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms">{{ commentsCount[i] }}</span>
        <div class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms" (click)="_like(i,likesCount[i],post.forumPostId)"><i class="far fa-smile forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms">{{ likesCount[i] }}</span>
        <div class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms" (click)="_dislike(i,dislikesCount[i],post.forumPostId)"><i class="far fa-frown forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms">{{ dislikesCount[i] }}</span>
        <button class="btn btn-info forum-read-more-btn pull-right animated-forum-element animated fadeInRight _delay{{ i + 1 }}ms {{ post.forumPostId }}" (click)="_readMore(post.forumPostId)">{{ readMoreBtn }}</button>
      </div>    
      <div class="forum-response-content-wrapper {{ post.forumPostId }}">
        <div *ngFor="let comment of comments;" class="forum-response animated fadeIn _delay3ms">
          <div class="datePosted">
            <p>{{ comment.datePosted }}</p>
          </div>
          <!--<div class="timeline-bar"></div>-->
          <div class="forum-response-post-time col-md-2 pull-right">
            <p>{{ comment.commentTime }}</p>
          </div>
          <div class="forum-response-content">
            <p>{{ comment.comment }}</p>
          </div>       
        </div>
      </div>
      <div class="forum-new-comment-wrapper new-forum-post-comment {{ post.forumPostId }}">
        <div class="forum-response-content top-border">
          <form [formGroup]="commentForm" (ngSubmit)="_submitComment(commentForm.value,post.forumPostId,commentsCount[i],i)">
            <div class="form-group new-comment-form-group">
              <label for="comment">Want to particupate? 
                <span class="pull-right"> 
                  <span *ngIf="currentSize != maxLength; else warning"><strong>{{ currentSize }}</strong></span>
                  <ng-template #warning><strong class="comment-warning">{{ currentSize }}</strong> </ng-template>/ {{ maxLength }}
                </span>
              </label>
              <textarea placeholder="say something!!" class="form-control comment _scrollbar" maxlength="{{ maxLength }}" formControlName="comment" (ngModelChange)="_commentSize(character = $event)" name="comment" rows="3"></textarea>
            </div>
            <div class="submit-btn-wrapper">
              <button class="btn btn-success btn-block _a new-comment-submit-btn" type="submit" [disabled]="!commentForm.valid">Send</button>
            </div>
          </form>
        </div> 
      </div>
    </div>
  </div>
  <!-- Display an archived post's content -->
  <div class="col-md-12 forum-archived-post-wrapper archivedPosts animated fadeIn _delay5ms" *ngIf="showArchive">
    <div class="forum-main-section-wrapper">
      <div class="forum-header-wrapper">
        <div class="forum-header-owner col-md-3 col-xs-3">
          <h3 class="animated-forum-element animated fadeIn _delay{{ i + 1 }}ms">{{ archive.owner }}</h3>
        </div>        
        <div class="forum-header-title col-md-6">
          <p class="animated-forum-element animated fadeInDown">{{ archive.title }}</p>
        </div>
        <div class="forum-header-post-time col-md-2">
          <p class="animated-forum-element animated fadeInDown">{{ archive.time }}</p>
        </div>
      </div>
      <div>
        <pre class="message animated-forum-element animated fadeIn">{{ archive.message }}</pre>
      </div>
      <div class="forum-response-section-header">
        <div class="animated-forum-element animated fadeInDown"><i class="far fa-comment-alt forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeInDown">{{ archive.commentsCount }}</span>
        <div class="animated-forum-element animated fadeInDown"><i class="far fa-smile forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeInDown">{{ archive.likes }}</span>
        <div class="animated-forum-element animated fadeInDown"><i class="far fa-frown forum-response-icon"></i></div>
        <span class="animated-forum-element animated fadeInDown">{{ archive.dislikes }}</span>
      </div>    
      <div *ngIf="archivedComments" class="forum-response-content-wrapper _widget-scrollbar animated-forum-element animated fadeInUp">
        <div *ngFor="let comment of archivedComments;" class="forum-response">     
          <div class="datePosted">
            <p>{{ comment.datePosted }}</p>
          </div>
          <!--<div class="timeline-bar"></div>-->
          <div class="forum-response-post-time col-md-2 pull-right">
            <p>{{ comment.commentTime }}</p>
          </div>
          <div class="forum-response-content">
            <p>{{ comment.comment }}</p>
          </div>       
        </div>
      </div>
    </div>
  </div>  
  <!-- Archived Posts list -->
  <div class="col-md-3 col-sm-3 forum-archived-wrapper" *ngIf="!showArchive">
    <div class="forum-archived-header">
      <h3>Archived posts</h3>
    </div>
    <div class="forum-archived-content">
      <table class="table table-striped table-hover">
        <tbody>
          <tr *ngFor="let post of archivedPosts; let i = index;" class="pointer" (click)="_readArchivedPost(post.id)">
            <td class="date">{{ post.date }} 20{{ post.year }}</td>
            <td>{{ post.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>