.breadcrumb-wrapper{
    background: #e8e8e8;
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-bottom: 8px;
}
.breadcrumb{
    width: fit-content;
}
._cat{
    color:black;
    font-weight: 600;
}
._hide{
    display: none;
}
.new-forum{
    text-transform: capitalize;
    display: inline-block;
    padding: 2px 13px;
    margin-top: 1px;
    margin-right: 2px;  
    background-color: #10a112bf;
    border-color: #10a112bf;   
    transition: all .3s ease-in-out;
}
.new-forum:hover,
.new-forum:focus,
.new-forum:active,
.open > .dropdown-toggle.new-forum {
    background-color: #10a112;
    border-color: #10a112;
    box-shadow: 1px 1px 2px 0px #0c690d85;
}
.new-post-form-group{
    margin-bottom: 4px;
}
label{
    width: 100%;
    font-weight: 500;
}
._warning{
    color: red !important;
}
textarea[name="message"]{
    resize: none;
}
.new-post-submit-btn,
.new-post-close-btn{
    width: fit-content
}
.new-post-close-btn:hover,
.new-post-close-btn:focus,
.new-post-close-btn:active{
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}
button[disabled], html input[disabled] {
    cursor: default;
    background-color: #0cc10c30;
    border-color: #0cc10ccc;
}
.new-post-close-btn{
    border-color: #0b0b0b;
    background-color: #424242;
    color: white;
}
.message-box {
    z-index: 10000;
}
.mb-title > strong{
    margin-left: 10px;
}