<div class="breadcrumb-wrapper">
    <!--
    <ul class="breadcrumb">
        <li class="_cat pointer" (click)="_return(_cat)">{{ _cat }}</li>                   
        <li class="{{ _hide }}" >{{ _new_path }}</li>
        <li *ngIf="currentGroup">{{ currentGroup }}</li>
        <li *ngIf="currentGroupFile">{{ currentGroupFile }}</li>
    </ul>
    -->
    <ul class="breadcrumb">
        <li class="_cat" *ngFor="let crumb of breadcrumb">
            <span class="pointer animated fadeInLeft _delay4ms">{{ crumb.name }} </span>
        </li>      
    </ul>    
    <!--<button class="message-control btn btn-info pull-right new-forum animated fadeInRight" *ngIf="_cat == 'Forum'" data-box="#new-post" (click)="_showForm()">new post</button>-->
</div>
<!-- NEW FORUM POST MESSAGE BOX -->
<div class="message-box new-post-ms-box _scrollbar animated fadeIn" data-sound="alert" id="new-post">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fas fa-share-alt"></span><strong>Share</strong> ?</div>            
            <div class="mb-content">
                <form [formGroup]="newPostForm" (ngSubmit)="_submitForm(newPostForm.value)">
                    <div class="form-group new-post-form-group">
                        <label for="title">Title
                            <span class="pull-right"> 
                            <span *ngIf="currentTitleSize != maxLengthTitle; else titleWarning"><strong>{{ currentTitleSize }}</strong></span>
                            <ng-template #titleWarning><strong class="_warning">{{ currentTitleSize }}</strong> </ng-template>/ {{ maxLengthTitle }}
                            </span>                            
                        </label>
                        <input type="text" class="form-control" formControlName="title" maxlength="{{ maxLengthTitle }}" (ngModelChange)="_titleSize($event)">
                    </div>
                    <div class="form-group new-post-form-group">
                        <label for="message">Message 
                            <span class="pull-right"> 
                            <span *ngIf="currentSize != maxLength; else warning"><strong>{{ currentSize }}</strong></span>
                            <ng-template #warning><strong class="_warning">{{ currentSize }}</strong> </ng-template>/ {{ maxLength }}
                            </span>
                        </label>
                        <textarea class="form-control _scrollbar" maxlength="{{ maxLength }}" formControlName="message" (ngModelChange)="_messageSize($event)" name="message" rows="5"></textarea>
                    </div>
                    <div class="mb-footer">
                        <button class="pull-left btn btn-success btn-block _a new-post-submit-btn" type="submit" [disabled]="!newPostForm.valid">Post</button>                        
                        <button class="pull-right btn btn-default mb-control-close new-post-close-btn" (click)="_hideForm()">Close</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END NEW FORUM POST MESSAGE BOX -->