<div class="home-wrapper">
  <fiyps-statistics-block [color]="'red'" [name]="'registered groups'" [count]="'50'"></fiyps-statistics-block>
  <fiyps-statistics-block [color]="'green'" [name]="'concept paper'" [count]="'45'"></fiyps-statistics-block>
  <fiyps-statistics-block [color]="'yellow'" [name]="'SRS'" [count]="'9'"></fiyps-statistics-block>
  <fiyps-statistics-block [color]="'black'" [lastBlock]="'lastBlock'" [name]="'reports'" [count]="'0'"></fiyps-statistics-block>
  <fiyps-progress-scale [progress]="progress" ></fiyps-progress-scale>
  <fiyps-footer class="_min-footer"></fiyps-footer> 
</div>