._date,
._time{
    color: white;
}
._date > a,
._time > a{
    width: fit-content;
}
._time > a{
    font-size: 18px;
    background-color: transparent;
}
._time > a:hover {
    background: transparent;
}
._date > a:hover {
    background: transparent;
}
@media only screen and (max-width: 1024px){
    .x-navigation.x-navigation-panel li.xn-icon-button {
        width: fit-content;
    }
}

@media (max-width: 446px){
    ._date{
        display: none;
    }
}