<!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->  
    <li class="xn-icon-button">
        <a class="x-navigation-minimize _a"><span class="fa fa-outdent"></span></a>
    </li> 
    <!-- END TOGGLE NAVIGATION -->
    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <a class="mb-control _a" data-box="#mb-signout"><span class="fa fa-sign-out-alt"></span></a>                        
    </li> 
    <!-- END SIGN OUT -->
    <li class="xn-icon-button _time">                   
       <a>{{ time | date:'mediumTime' }}</a>
    </li>       
    <li class="xn-icon-button _date">                   
       <a class="animated fadeInDown">{{ today | date:'fullDate' }}</a>
    </li>
    <!-- MESSAGES -->
    <li class="xn-icon-button pull-right">
        <a href="#"><span class="fa fa-comments"></span></a>
        <div class="informer informer-danger">4</div>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                <div class="pull-right">
                    <span class="label label-danger">4 new</span>
                </div>
            </div>
            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="assets/img/users/user2.jpg" class="pull-left" alt="John Doe"/>
                    <span class="contacts-title">John Doe</span>
                    <p>Praesent placerat tellus id augue condimentum</p>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-away"></div>
                    <img src="assets/img/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                    <span class="contacts-title">Nadia Ali</span>
                    <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-offline"></div>
                    <img src="assets/img/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                    <span class="contacts-title">Darth Vader</span>
                    <p>I want my money back!</p>
                </a>
            </div>     
            <div class="panel-footer text-center">
                <a class="pointer">Show all messages</a>
            </div>                            
        </div>                        
    </li>
    <!-- END MESSAGES -->         
</ul>
<!-- END X-NAVIGATION VERTICAL -->                     
<!-- MESSAGE BOX-->
<div class="message-box _scrollbar _delay3ms fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fas fa-sign-out-alt"></span> Log <strong>Out</strong> ?</div>            
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>                    
                <p>Press No if you want to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a class="btn btn-success btn-lg _a" (click)="_sigout()" >Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->
<!-- START PRELOADS -->
<audio id="audio-alert" src="assets/audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="assets/audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->   