<div class="login-container"> 
  <div class="login-box animated fadeIn _delay5ms">
      <div class="login-logo">
          <div>
              <div class="_cocis animated fadeIn _delay10ms">
                  <div>College Of Computing </div>
                  <div> & </div>
                  <div>Information Sciences </div>
              </div>
              <div class="_sm-logo animated fadeInLeft _delay10ms">COCIS</div>          
              <img src="../../../assets/img/muk.png" class=""/>
              <div class="_sm-logo animated fadeInRight _delay10ms">FIYPS </div>
              <div class="_pptrs animated fadeIn _delay10ms">
                  <div>Final Year Projects</div>
                  <div>system </div>
                  <div class="_tracking"></div>
              </div>                
          </div>
      </div>
      <div class="row">
          <div class="animated fadeIn _delay3ms">
              <div class="login-body ">
                  <div class="progress animated fadeIn _delay2ms" *ngIf="showProgressBar">
                    <div class="progress-bar progress-bar-striped active status-bar" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                  </div>               
                  <div class="login-title _resetTitle">Reset Password</div>
                  <form [formGroup]="forgotPasswardForm" (ngSubmit)="_resetPassword(forgotPasswardForm.value)" class="form-horizontal">
                      <div class="form-group">
                          <div class="col-md-12">
                              <input type="email" class="form-control" formControlName="username" placeholder="username / group name" required/>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6">
                          <a routerLink="/" class="btn btn-link btn-block _a">return</a>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-info btn-block _a" type="submit" [disabled]="!forgotPasswardForm.valid">Reset</button>
                        </div>
                      </div>                    
                      <div class="form-group animated fadeInUp _delay2ms">
                        <div class="form-group animated bounceIn _delay2ms" *ngIf="invalid">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                  Invalid email. Please try again
                                </div>
                            </div>
                        </div>                 
                        <div class="col-md-12" *ngIf="mailSent">
                          <div class="alert alert-success" role="alert">
                              <span>Check your email </span>
                          </div>
                        </div>
                      </div> 
                      <div class="login-title _resetInfo" *ngIf="mailSent">
                        If you don't receive an email please try the following:
                        <ul class="mail-not-sent-advice-ul">
                          <li>check your internet connection.</li>
                          <li>If that doesn't work, contacts our IT Team at <strong class="_strong"><a href="mailto:'{{ mailto }}'">{{ mail }}</a></strong> for assistance.</li>
                        </ul>
                      </div>         
                    </form>
              </div>
          </div>
      </div>
      <fiyps-footer></fiyps-footer>
  </div>
</div>