.login-container {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: url(../../../assets/img/bg.png) left top repeat rgba(251, 251, 251, 0.4);
}
.login-container .login-box {
    width: 84%;
    padding-top: 26px;
    height: 100%;
    transition: all .8s ease-in-out;
}
.login-container .login-box .login-body .form-control {
    background: rgba(0, 0, 0, 0.75) !important;
}
.login-container .login-box .login-body {
    background: rgba(0, 0, 0, 0.84) !important;
    margin-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
    float: unset;
    width: 50%;    
    padding: 0px;
    padding-bottom: 20px;
}
.login-box > div > div{
    border: 1px solid #f3f3f2;
    display: flow-root;
}
strong{
    font-size: 19px;
}
._headings{
    font-weight: 600;
}
.btn-info {
    background-color: #0cc10c6b !important;
    border-color: #0cc10ccc !important;
}
.btn-info:hover{
    background-color: #0cc10ccc !important;
    border-color: #0cc10ccc !important;
}
.form-horizontal {
    background: #f5f5f500 !important;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
}
.form-group{
    width: 100% !important;;
}
._login-general-info{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-bottom: 56px;
    height: 89%;
    text-align: justify;
    font-size: 13px;
}
._sm-login-btn{
    display: none;
    position: absolute;
    margin-left: -10px;
    z-index: 1;
    font-size: 13px;
}
._sm-login-btn:hover{
    background-color: #0cc10ccc !important;
    border-color: #0cc10ccc !important;
}
._resetTitle{
  text-align: center !important;
  margin-bottom: 10px !important;
}  
.btn-link._a{
    text-transform: capitalize;
}
.alert {
    line-height: unset;
    padding: 6px 17px;
    background-color: rgba(12, 193, 12, 0.8);
    border: 2px solid white;
    margin-top: 21px;
}
.alert-danger {
    background-color: #E04B4A !important;
}
._strong > a{
    color: rgba(12, 193, 12, 0.8);
    font-size: 14px;
    transition: all .3s ease-in-out;
}
._strong > a:hover,
._strong > a:focus,
._strong > a:active{
    color: rgb(10, 228, 10);
}
._cocis{
    margin-left: 84px;
}
._resetInfo{
    color: #FFF !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 8px !important;
    padding: 0px 9px;
}
.mail-not-sent-advice-ul{
    list-style: square;
}
.mail-not-sent-advice-ul > li{
    margin-top: 9px;
}
.progress{
    width: 100%;
    float: left;
    height: 3px;
    border-radius: 0px;
}
.status-bar{
    background-color: rgb(3, 119, 3);
}
.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 3s linear infinite;
    -o-animation: progress-bar-stripes 3s linear infinite;
    animation: progress-bar-stripes .3s linear infinite;
}
/* Media queries */
@media only screen and (max-width: 900px){
    .login-container .login-box {
        width: 100%;
    }
    ._reset{
        font-size: 13px !important;
        font-weight: 500 !important;
    }
    ._resetInfo {
        font-size: 13px !important;
        font-weight: 500 !important;
    }    
}
@media only screen and (max-width: 768px){
    ._cocis{
        margin-left: unset;
    }
    ._login-wrapper{
        display: none;
        width: 100%;
    }
    .login-container .login-box {
        margin-bottom: 57px;
        padding-top: 3px;
    }
    ._login-general-info{
        width: 100%;
        height: fit-content;
    }
    ._sm-login-btn{
        display: unset;
    }        
    .login-container .login-box .login-body {
        width: 100%;    
    }       
}
@media only screen and (max-width: 340px){
    ._login-general-info{
       margin-bottom: 70px;
    }
}