.add-supervisor-wrapper{
    margin: 6px 8px 15px;
    border: 1px solid #2022285c;
    border-top: 1px solid #20222814;
    box-shadow: 0px 2px 3px 0px #202228a6;
}
.table {
    margin-bottom: 37px;
}
.header-wrapper{
    display: flow-root;
    background-color: #4ed04e;
}
.form-horizontal{
    display: none;
    visibility: hidden;
    margin-top: 35px;
    padding-top: 8px;
    background-color: #f5f5f4;
}
.visible{
    visibility: visible;
}
.header-wrapper > button {
    border: 1px solid transparent;
    padding: 3px 23px 4px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 2px;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.header-wrapper > button:hover {
    border-color: white !important;
}
.btn-info.pull-right > .icon{
    color: white;
}
.clear{
    background-color:#e04b4a !important;
    border-color:#e04b4a !important;
    color: white !important;
    font-weight: 600px;
}
.names,
.course{
    text-transform: capitalize;
    padding-left: 0px;
    padding-right: 0px;
}
tbody > tr > td,
.email > a{
    transition: all .5s ease-in-out;
}
/* Media Queries */
@media (max-width: 768px){
    .header-wrapper > button {
        padding: 8px 23px 12px;
    }
}
@media (max-width: 500px){
    .count{
        display: none;
    }  
    .names,
    .email > a{
        padding-left: 4px;
        padding-right: 0px;
    }
}
@media (max-width: 452px){
    .course{
        display: none;
    } 
}
@media (max-width: 432px){
    .form-horizontal{
        padding-left: 2px;
        padding-right: 2px;
    } 
}
@media (max-width: 402px){
    .names,
    .email > a,
    .contact{
        font-size: 10.5px;
        font-weight: 600;
    } 
}
@media (max-width: 346px){
    .names,
    .email > a,
    .contact{
        font-size: 9px !important;
        font-weight: 800 !important;
    } 
}
@media (max-width: 314px){
   
    .contact{
        display: none;
    } 
}