<div class="all-students-groups-wrapper">
  <div class="projects-controls-wrapper animated fadeIn _delay5ms">
    <div class="dataTables_length">
      <form [formGroup]="groupsForm">
        <div class="col-md-4 col-sm-4 col-xs-12 _show">
          <label>Show</label>
          <select class="form-control _search" formControlName="size" (ngModelChange)="_show(size = $event)">
            <option value="10" ng-reflect-value="10">10</option>
            <option  value="25" ng-reflect-value="25">25</option>
            <option  value="50" ng-reflect-value="50">50</option>
            <option  value="100" ng-reflect-value="100">100</option>
          </select>
          <label  class="_entries"> entries of <strong>{{ total }}</strong></label> 
        </div>
        <div  class="dataTables_filter col-sm-3 col-xs-12">
          <input  class="form-control" [(ngModel)]="search" placeholder="Search" formControlName="search" type="search" >
        </div>
      </form>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="count">#</th>
          <th class="group-name">Groups</th>
          <th class="group-members-th">Members</th>
          <th class="period">Period</th>
          <th class="action-th">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animated fadeInUp _delay{{ i + 3}}ms" *ngFor="let group of groups | filter:search | paginate: {id:'allStudents',itemsPerPage: pageSize, currentPage: page }; let i = index;">
          <td class="count">{{ i + 1 }}</td>
          <td class="group-name">{{ group.group_name }}</td>
          <td class="group-members-td">
            <ul class="project-group-members">
              <li *ngFor="let member of group.members; let i = index;">{{ member.name }}</li>
            </ul>
          </td>
          <td class="period">{{ group.period }}</td>
          <td class="action-td">
            <div class="col-sm-6 col-xs-6"><button class="btn btn-info edit" (click)="edit(group.id)">Edit</button></div>
            <div class="col-sm-6 col-xs-6"><button class="btn btn-danger mb-control remove" data-box="#mb-confirm-delete" (click)="showPopup(group.id)">remove</button></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="_pagiantionContainer has-text-centered">
      <pagination-controls id="allStudents" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<!-- MESSAGE BOX-->
<div class="message-box _scrollbar animated fadeIn" id="mb-confirm-delete">
  <div class="mb-container">
    <div class="mb-middle">
      <div class="mb-title confirm-delete-title">Do you want to procced <strong>?</strong></div>            
      <div class="mb-content">
        <form [formGroup]="confirmDeleteForm" class="confrim-delete-form">
          <div class="radio">
            <label><input type="radio" formControlName="yes" class="mb-control-close" (click)="_yes()">Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" formControlName="no" class="mb-control-close" (click)="_no()">No</label>
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END MESSAGE BOX--> 
<fiyps-footer class="_min-footer"></fiyps-footer>  