<!--<p>
    Building handcrafted forms can be costly and time-consuming, especially if you need a great number of them, they're similar to each other, and they change frequently to meet rapidly changing business and regulatory requirements.

    It may be more economical to create the forms dynamically, based on metadata that describes the business object model.
    
    This cookbook shows you how to use formGroup to dynamically render a simple form with different control types and validation. It's a primitive start. It might evolve to support a much richer variety of questions, more graceful rendering, and superior user experience. All such greatness has humble beginnings.
    
    The example in this cookbook is a dynamic form to build an online application experience for heroes seeking employment. The agency is constantly tinkering with the application process. You can create the forms on the fly without changing the application code.          
</p>
-->
<ng2-popup class="animated fadeInDown _delay4ms" #popup></ng2-popup> 
<div class="document-review-wrapper" *ngIf="userType == '1' || userType == '2'">
<!--
    <iframe 
      height="500"
      class="doc" 
      src="https://docs.google.com/gview?url=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&embedded=true"
    ></iframe>
-->
  
    <div class="document-review-header">
        <span (click)="_slideToggle('document-review-display-section','document-review-header-icon')">
            <div class="document-review-header-icon">
                <i class="fas fa-caret-down icon"></i>
            </div>
            <div class="document-review-header-title">
                <h4>Document Review</h4>
                <span>{{ filename }}</span>
            </div>
        </span>
        <div class="resize-container">
            <tooltip-content #full [animation]="true">
                <small>fullscreen</small>
            </tooltip-content>       
            <button *ngIf="!fullscreen" class="btn btn-primary animated fadeIn _delay3ms" [tooltip]="full" (click)="toggleFullScreen('full')">
                <img src="/assets/img/icons/ic_fullscreen_white_24dp/web/ic_fullscreen_white_24dp_1x.png" class="img-fluid">
            </button>
            <tooltip-content #restore [animation]="true">
                <small>restore</small>
            </tooltip-content>       
            <button *ngIf="fullscreen" class="btn btn-primary animated fadeIn _delay4ms" [tooltip]="restore" (click)="toggleFullScreen('restore')">
                <img src="/assets/img/icons/ic_fullscreen_exit_white_24dp/web/ic_fullscreen_exit_white_24dp_1x.png" class="img-fluid">
            </button>
        </div>
    </div>
    <div class="document-review-display-section _scrollbar" *ngIf="fileId">
        <!--
        <fiyps-refresh [visibility]="visibility"></fiyps-refresh>
        
        <form [formGroup]="docReviewForm" (ngSubmit)="onSubmit(docReviewForm)">
            <ckeditor
                formControlName="content"
                [(ngModel)]="content"
                [config]="{uiColor: '#0cc10cc4'}"
                [readonly]="false"
                (change)="onChange($event)"
                (save)="onSave($event)"
                (editorChange)="onEditorChange($event)"
                (ready)="onReady($event)"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
                (contentDom)="onContentDom($event)"
                (fileUploadRequest)="onFileUploadRequest($event)"
                debounce="500">
            </ckeditor>
        </form>
        -->
        <fiyps-pdf-reader [deliverableTypeId]="deliverableTypeId" [studentGroupId]="studentGroupId" [params]="fileId"></fiyps-pdf-reader>
        <div *ngIf="userType == '2'" class="document-review-save-btn pull-right">
            <button class="btn btn-info" (click)="_approveFile()">Approve</button>
        </div>
    </div>
    <div class="defaults-container animated fadeIn _delay4ms" *ngIf="!fileId">
        <img src="./assets/img/defaults/noDocumentReview.fw.png" class="img-fluid" />
    </div>   
</div>

