<div class="profile-wrapper animated fadeIn _delay7ms">
  <div class="inner-wrapper" *ngIf="userType == 'student'">
    <div class="col-sm-12 profile-course">
      <h4 class="col-sm-12">
        Course:
        <span class="">Bachelor of Science in Software Engineering</span>
        <span class="_sm-course">BSSE</span>        
      </h4>
    </div>
    <form [formGroup]="studentForm" class="form-horizontal">
      <div class="form-group project-title">
        <label for="title">Project Title
          <span> 
          <span *ngIf="titleSize != maxTitleLength; else titleWarning"><strong>{{ titleSize }}</strong></span>
          <ng-template #titleWarning><strong class="_warning">{{ titleSize }}</strong> </ng-template>/ {{ maxTitleLength }}
          </span>                            
        </label>
        <input type="text" class="form-control" maxlength="{{ maxTitleLength }}" formControlName="projectTitle" (ngModelChange)="_titleSize(title = $event)">
      </div>
      <div class="form-group project-description">
        <label for="message">Project Description 
          <span> 
          <span *ngIf="descSize != maxDescLength; else warning"><strong>{{ descSize }}</strong></span>
          <ng-template #warning><strong class="_warning">{{ descSize }}</strong> </ng-template>/ {{ maxDescLength }}
          </span>
        </label>
        <textarea class="form-control _scrollbar" maxlength="{{ maxDescLength }}" formControlName="projectDescription" (ngModelChange)="_descSize(desc = $event)" name="description" rows="5"></textarea>
      </div>
      <div class="form-group profile-password">
        <label for="message">Change Password </label>
        <div class="old-password">
          <input type="password" class="form-control old-pwd" placeholder="old" formControlName="oldPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}" (ngModelChange)="_oldPassword(oldPwd = $event)">
        </div>
        <input type="password" class="form-control  new-pwd" placeholder="new" formControlName="newPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}">
        <input type="password" class="form-control confirm-pwd" placeholder="corfirm" formControlName="confirmPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}" (ngModelChange)="_confirmPwd(confirm = $event)">
      </div>
    </form>    
    <form [formGroup]="groupForm" (ngSubmit)="_submitForm(groupForm.value)" class="form-horizontal">
      <div class="col-lg-12 labels-group">
        <div class="col-xs-3 ">
          <span class="hash-label col-xs-2">#</span>
          <span class="name-label col-xs-10">
            Name
          </span>
        </div>
        <div class="col-xs-3 reg-no-label">
          Registration No:
        </div>
        <div class="col-xs-3 contact-label">
          Contact
        </div>
        <div class="col-xs-3 email-label">
          Email
        </div>
      </div>
      <div formArrayName="names" class="col-xs-3 _withSize field-containers">
        <div *ngFor="let nameControl of groupForm.controls.names.controls; let i=index;">
          <label class="hash-field col-xs-2">{{ i + 1 }}</label>
          <input type="text" name="name[{{nameId}}]" class="col-xs-10 name-field" [formControlName]="i">
        </div>                                            
      </div>        
      <div formArrayName="regNos" class="col-xs-3 field-containers">
        <div *ngFor="let regNoControl of groupForm.controls.regNos.controls; let i=index;">
          <input type="text" name="regNo[{{regNoId}}]" class="reg-no-field" [formControlName]="i">
        </div>                                            
      </div>        
      <div formArrayName="contacts" class="col-xs-3 field-containers">
        <div *ngFor="let contactControl of groupForm.controls.contacts.controls; let i=index;">
          <input type="text" name="contact[{{contactId}}]" class="contact-field" [formControlName]="i">
        </div>                                            
      </div>        
      <div formArrayName="emails" class="col-xs-3 field-containers">
        <div *ngFor="let emailControl of groupForm.controls.emails.controls; let i=index;">
          <input type="text" name="email[{{emailId}}]" class="email-field" [formControlName]="i">
        </div>                                            
      </div>                         
      <div class="form-group submit-btn-container">
        <div class="col-md-12">
          <button class="btn btn-info btn-block pointer profile-submit" type="submit" [disabled]="!groupForm.valid">Update</button>
        </div>
      </div>
    </form>       
  </div>
  <div class="inner-wrapper" *ngIf="userType == 'supervisor'">
    <div class="col-sm-12 profile-img">
      <div>
        <img src="./assets/img/users/{{ userImg }}" class="img-thumbnail animated fadeIn _delay4ms" />
      </div>
      <!--<img src=".data:image/gif;base64,{{ userImg }}" class="img-thumbnail animated fadeIn _delay4ms" />-->
      <div class="browse-img">
          <image-upload
          [max]="imgMaxUpload"
          [url]="url"
          [headers]="{Authorization: token}"
          [maxFileSize]="1048576"
          [fileTooLargeMessage]="'Image too large!'"
          [buttonCaption]="'Update image'"
          [dropBoxMessage]="'Drop image here'"
          [extensions]="['jpg','png','gif']"
          [class]="'customClass'"      
          (removed)="onRemoved($event)"
          (uploadFinished)="onUploadFinished($event)"
          (uploadStateChanged)="onUploadStateChanged($event)">
        </image-upload>       
      </div>
    </div>
    <form [formGroup]="supervisorForm" class="form-horizontal" (ngSubmit)="_updateSupervisor(supervisorForm.value)">
      <div class="form-group name _form-group">
        <label class="col-sm-2" for="name">Name</label>
        <input type="text" class="form-control col-sm-6 animated fadeInDown _delay7ms" maxlength="{{ maxNameLength }}" formControlName="name" (ngModelChange)="_nameSize(name = $event)">
        <span> 
          <span *ngIf="nameSize != maxNameLength; else nameWarning"><strong>{{ nameSize }}</strong></span>
          <ng-template #nameWarning><strong class="_warning">{{ nameSize }}</strong> </ng-template>/ {{ maxNameLength }}
        </span>  
      </div>
      <div class="form-group course _form-group">
        <label class="col-sm-2" for="course">Course</label>
        <input type="text" class="form-control col-sm-6 animated fadeInDown _delay7ms" maxlength="{{ maxCourseLength }}" formControlName="course" (ngModelChange)="_courseSize(course = $event)">
        <span> 
          <span *ngIf="courseSize != maxCourseLength; else courseWarning"><strong>{{ courseSize }}</strong></span>
          <ng-template #courseWarning><strong class="_warning">{{ courseSize }}</strong> </ng-template>/ {{ maxCourseLength }}
        </span>  
      </div>
      <div class="form-group email _form-group">
        <label class="col-sm-2" for="email">email</label>
        <input type="email" class="form-control col-sm-6 animated fadeInDown _delay5ms" maxlength="{{ maxEmailLength }}" formControlName="email" (ngModelChange)="_emailSize(email = $event)">
        <span> 
          <span *ngIf="emailSize != maxEmailLength; else emailWarning"><strong>{{ emailSize }}</strong></span>
          <ng-template #emailWarning><strong class="_warning">{{ emailSize }}</strong> </ng-template>/ {{ maxEmailLength }}
        </span>                            
      </div>
      <div class="form-group contact _form-group">
        <label class="col-sm-2" for="contact">phone number</label>
        <input type="text" class="form-control col-sm-6 animated fadeInDown _delay3ms" maxlength="{{ maxContactLength }}" formControlName="contact" (ngModelChange)="_contactSize(contact = $event)">
        <span> 
          <span *ngIf="contactSize != maxContactLength; else contactWarning"><strong>{{ contactSize }}</strong></span>
          <ng-template #contactWarning><strong class="_warning">{{ contactSize }}</strong> </ng-template>/ {{ maxContactLength }}
        </span>                            
      </div>
      <div class="form-group sup profile-password">
        <label for="message">Change Password </label>
        <div class="old-password">
          <input type="password" class="form-control old-pwd incorrect-pwd" placeholder="old" formControlName="oldPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}" (ngModelChange)="_oldPassword(oldPwd = $event)">
        </div>
        <input type="password" class="form-control new-pwd animate fadeInDown _delay3ms" placeholder="new" formControlName="newPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}">
        <input type="password" class="form-control confirm-pwd animate fadeInDown _delay3ms" placeholder="corfirm" formControlName="confirmPassword" minlength="{{ minPwdLength }}" maxlength="{{ maxPwdLength }}" (ngModelChange)="_confirmPwd(confirm = $event)">
      </div>
      <div class="form-group sup submit-btn-container">
        <div class="col-md-12">
          <button class="btn btn-info btn-block pointer profile-submit" type="submit" [disabled]="!supervisorForm.valid">Update</button>
        </div>
      </div>      
    </form>    
  </div>
  <fiyps-footer class="_min-footer"></fiyps-footer> 
</div>